@media only screen and (max-width:1366px){
   
    nav ul li{
        text-align: center;
        margin: 0 10px;    
    }
    .header-left{
        
    }
    .header-right{
        
    }
    /*HEADER*/
    .banner{

    }
    .hero-text p{
        font-size: 2.6rem;
    }
    /*HEADER END*/
    /*ABOUT*/
    .about-content{
        font-size: 2rem;
    }
    /*ABOUT END*/
   /*FEATURES*/
    .features-bot-paragraph{
        font-size: 2rem;
      /*  height: 200px;*/
    }
    .features-bot-bot-paragraph{
        padding-top: 25px;
        font-size: 1.9rem;
    }
   /*FEATURES END*/
    .ribbon-pre-sale-bonus{
        padding: 55px 35px 55px 55px;
        background-size: 150px;
        left: calc(83%);
        top: -85px;
    }
    .ribbon-pre-sale-bonus p{

        font-size: 3rem;
        font-family: londrina_solidregular;
    }
    .ribbon-pre-sale-bonus-contact{
        position: absolute;
        left: calc(53.5%);
        top: -25px;
    }
    .ribbon-pre-sale-bonus-contact p{
        font-size: 1.8rem;
    }
}
@media only screen and (max-width:1024px){
    nav{
       background-color: rgba(255, 255, 255, 0);
    }
/*    nav ul li{
        text-align: center;
        margin: 0;
        padding: 0;
        
    }*/
    nav{
        background-image: url("/resources/img/nav%20mobile.png")
        background-size: contain;
        height: 83px;
    }
    .nav-icon-container{
        text-align: center;
        vertical-align: middle;
        display: block;
    }
    .mobile-nav-icon{
        color: white;
        margin-top: 1%;
        display: inline-block;
        padding-top: 6px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 15px;
		border: 2px solid #795f8f;
		background-color: #795f8f;
    }
    .main-nav{
        display: block;
        float: right;
        display: none;
		width: 210px;
		margin-right: 0;
        text-align: center;
        background-color: white;
    }
    .main-nav li{
		height: 50px;
		width: 100%;
		text-align: center;
		margin: 2px;
        margin-top: 0px;
		font-size: 60%;
	}
	.main-nav li a{
        text-align: center;
		display: inline-block;
        color: #4a365b;
	}
    .main-nav li{display: block;}
    .main-nav li a:link,
    .main-nav li a:visited{
        display: inline-block;
        border: 0;
        padding: 10px;
        font-size: 100%;
    }
    .main-nav li a:hover,
    .main-nav li a:active{
       border: 0;
    }
    .nav-container
    {
        z-index: 9999; /*always on top of other elements*/
    }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{
        padding: 10px 0;
    }
    .sticky .main-nav{
        margin-top: 10px;
    }
    .nav-icon-container{
    }
     /*HEADER*/
    .header-left{
        display: block;
        width: 100%;
    }
    .hero-banner{
        padding-top: 20px;
    }
    .hero-banner img{
        width: 400px;
    }
    .hero-text{
        margin-top: 20px;
    }
    .header-available{
        margin-top: 80px;
    }
    .button-token-container{
        display: none;
    }
    .header-available p{
       font-size: 2.5rem;
    }
    .header-available p:nth-child(2), .header-available p:nth-child(3){
        font-size: 2rem;
    }
    .sale-box{
        width: 100%;
    }
    .sale-point p{
        width: 100px;
        height: 50px;
        font-size: 1.5rem;
    }
    .header-right{
        margin-top: 40px;
        width: 95%;   
        text-align: center;
    }
    header{
        height: 1600px;
    }
    .banner .sale-fund-raised{
        margin-top: 220px;
    }
    .button-token-container-2{
       display: inline-block;
       width: 80%;
    }
    /*HEADER END*/
     /*ABOUT*/
    
    /*ABOUT END*/
   /*FEATURES*/
    .features-container{
        text-align: center;
    }
    .features-content{
        display: none;
    }
    .features-content-mobile{
        display: inline-block;
        text-align: center;
        background-color: #332d3c;   
        width: 80%;
        margin-top: 20px;
    }
    .features-box{
        padding: 0;
        margin: 0;
        display: inline-block;
        text-align: center;
        width: calc(100% - 20px);
        font-size: 3rem;
        vertical-align: middle;
     
    }
    .features-box:nth-child(odd){
        border: 10px solid #ff5e5e;
    }
 
    .features-box div:last-of-type{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-flow: column;
        height: 150px;   
    }
    .features-box img{
        padding: 5px 0;
        max-width: 40%;
    }
    .features-bot-paragraph{
        margin: 15px 1.5%;
        font-size: 2.3rem;
      /*  height: 200px;*/
    }
    .features-bot-bot-paragraph{
        margin: 0px 1.5%;
        padding-top: 25px;
        font-size: 2.6rem;
    }
    .features-content-bot{
        display: none;
    }
    .features-content-bot-mobile{
        display: block;
        text-align: center;
        background-color: #3e2911;
    }
    .features-box-bot-twos{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .features-box-bot{
        display: inline-block;
        width: 45%;
        font-size: 2.5rem;
    }
    .features-box-bot:last-of-type{
       font-size: 2.5rem;
    }
    .features-box-bot-below{
        width: 100%;
    }
    .features-box-bot img{
        width: 60%;
    }
    .features-box-bot-below img{
        width: 40%;
    }
    
    /*PS------------------------------------------------------------------------------------*/
    
    /*PS*/
    /*TOKEN--------------------------------------------------------------------------------*/
    .token-top{
       
    }
    .token-content{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        
    }
    .token-graph{
        display: block;
        position: relative;
        height: 320px;
        width: 270px;
    }
    .token-graph img{
        max-width: 270px;
    }
    .token-dist-list ul li{
        font-size: 1.5rem;
        padding: 26px 0 26px 84px;
        background-size: 45px;

    }
    /*TOKEN end*/
    /*ALLOCATION----------------------------------------------------------*/
    .allocation-top{
       /* background-image: none;*/
        height: 100px;
    }
    .allocation-graph img{
        max-width: 300px;
    }
    .allocation-content{
        flex-flow: column;
    }
    .allocation-data ul li{
       font-size: 1.5rem;
    }
    /*ALLOCATION end------------------------------------------------------*/
    /*TEAM ---------------------------------------------------------------*/
    .team-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    .team-content{
        width: 90%;
    }
    .team .team-title{
        display: none;
        
    }
    .team-title-mobile{
        display: block;
    }
    /*TEAM end------------------------------------------------------------*/
      .pre-sale-button-container{
        display: none;
    }
    .banner{
        flex-flow: column;
    }
    .button-token-container{
        display: block;
        height: 100px;
        background-color: aqua;
    }
    .pre-sale-button-buy-token-container-mobile{
        display: block;
        margin-left: 20px;
        margin-top: 100px;
    }
    .button-whitepaper-container{
        display: block;
    }
    header{
        height: 1800px;
    }
    .about-content{
        font-size: 2rem;
        line-height: 2.1rem;
        margin: 30px 1.5%;
    }
    .ribbon-pre-sale-bonus{
        padding: 55px 35px 55px 55px;
        background-size: 150px;
        left: calc(73%);
        top: -185px;
    }
    .ribbon-pre-sale-bonus p{
        font-size: 3rem;
        font-family: londrina_solidregular;
    }
    .ribbon-pre-sale-bonus-contact{
        position: absolute;
        left: calc(24.5%);
        top: -175px;
    }
    .ribbon-pre-sale-bonus-contact p{
        font-size: 2.2rem;
    }
     .features-bot-bot-paragraph{
        font-size: 1.9rem;
    }
     .features-bot-bot-paragraph{
        font-size: 1.9rem;
    }
}
@media only screen and (max-width:1024px) and (min-height:1366px){
    /*HEADER*/
   .nav-icon-container{
     
    }
    .header-left{
        display: block;
        width: 100%;
    }
    .hero-banner{
        padding-top: 20px;
    }
    .hero-banner img{
        width: 400px;
    }
    .hero-text{
        margin-top: 20px;
    }
    .header-available{
        margin-top: 80px;
    }
    .button-token-container{
        display: none;
    }
    .header-available p{
       font-size: 2.5rem;
    }
    .header-available p:nth-child(2), .header-available p:nth-child(3){
        font-size: 2rem;
    }
    .sale-box{
        width: 100%;
    }
    .header-right{
        margin-top: 40px;
        width: 95%;   
        text-align: center;
    }
    header{
        height: 1600px;
    }
    .banner .sale-fund-raised{
        margin-top: 220px;
    }
    .button-token-container-2{
       display: inline-block;
       width: 80%;
    }
    /*HEADER END*/
     /*ABOUT*/
    .about-content{
        font-size: 2rem;
        line-height: 2.1rem;
        margin: 30px 1.5%;
    }
    /*ABOUT END*/
   /*FEATURES*/
    .features-container{
        text-align: center;
    }
    .features-content{
        display: none;
    }
    .features-content-mobile{
        display: inline-block;
        text-align: center;
        background-color: #332d3c;   
        width: 70%;
        margin-top: 20px;
    }
    .features-box{
        padding: 0;
        margin: 0;
        display: inline-block;
        text-align: center;
        width: calc(100% - 20px);
        font-size: 3rem;
        vertical-align: middle;
     
    }
    .features-box:nth-child(odd){
        border: 10px solid #ff5e5e;
    }
 
    .features-box div:last-of-type{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-flow: column;
        height: 150px;   
    }
    .features-box img{
        padding: 5px 0;
        max-width: 40%;
    }
    .features-bot-paragraph{
        margin: 15px 1.5%;
        font-size: 2.3rem;
      /*  height: 200px;*/
    }
    .features-bot-bot-paragraph{
        margin: 0px 1.5%;
        padding-top: 25px;
        font-size: 2.6rem;
    }
    .features-content-bot{
        display: none;
    }
    .features-content-bot-mobile{
        display: block;
        text-align: center;
        background-color: #3e2911;
    }
    .features-box-bot-twos{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .features-box-bot{
        display: inline-block;
        width: 40%;
        font-size: 3rem;
    }
    .features-box-bot:last-of-type{
       font-size: 3rem;
    }
    .features-box-bot-below{
        width: 60%;
    }
    .features-box-bot img{
        width: 60%;
    }
    /*PS------------------------------------------------------------------------------------*/
    
    /*PS*/
    /*TOKEN--------------------------------------------------------------------------------*/
    .token-top{
       
    }
    .token-content{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        
    }
    .token-graph{
        display: block;
        position: relative;
        height: 320px;
        width: 270px;
    }
    .token-graph img{
        max-width: 270px;
    }
    .token-dist-list ul li{
        font-size: 1.5rem;
        padding: 26px 0 26px 84px;
        background-size: 45px;
    }
    /*TOKEN end*/
    /*ALLOCATION----------------------------------------------------------*/
    .allocation-top{
       /* background-image: none;*/
        height: 100px;
    }
    .allocation-graph img{
        max-width: 300px;
    }
    .allocation-content{
        flex-flow: column;
    }
    .allocation-data ul li{
       font-size: 1.5rem;
    }
    /*ALLOCATION end------------------------------------------------------*/
    /*TEAM ---------------------------------------------------------------*/
    .team-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    .team-content{
        width: 90%;
    }
    .team .team-title{
        display: none;
        
    }
    .team-title-mobile{
        display: block;
    }
    /*TEAM end------------------------------------------------------------*/
     .pre-sale-button-container{
        display: none;
    }
    .banner{
        flex-flow: column;
    }
    .button-token-container{
        display: block;
        height: 100px;
        background-color: aqua;
    }
    .pre-sale-button-buy-token-container-mobile{
        display: block;
        margin-left: 20px;
        margin-top: 100px;
    }
    .button-whitepaper-container{
        display: block;
    }
    header{
        height: 1800px;
    }
      .ribbon-pre-sale-bonus{
        padding: 55px 35px 55px 55px;
        background-size: 150px;
        left: calc(73%);
        top: -185px;
    }
    .ribbon-pre-sale-bonus p{
        font-size: 3rem;
        font-family: londrina_solidregular;
    }
    .ribbon-pre-sale-bonus-contact{
        position: absolute;
        left: calc(24.5%);
        top: -175px;
    }
    .ribbon-pre-sale-bonus-contact p{
        font-size: 2.2rem;
    }
     .features-bot-bot-paragraph{
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 812px){
     .features-bot-paragraph{
        margin: 15px 1.5%;
        font-size: 2rem;
      /*  height: 200px;*/
    }
    .features-bot-bot-paragraph{
        margin: 0px 1.5%;
        padding-top: 25px;
        font-size: 2.4rem;
    }
    .ps-problem-content, .ps-solution-content{
        margin: 30px 1.5%;
        font-size: 2.5rem;
    }
    .ps-solution-content{
        margin-bottom: 0;
    }
    .roadmap h3{
        width: 90%;
        margin-right: 0;
        margin-left: 30px;
    }
    .button-bounty-container a{
        width: 200px;
        font-size: 1.8rem;
    }
    .token-sale-details-table{
      margin-left: 1.5%;
      margin-right: 1.5%;
    }
    .token-sale-details-info{
          margin-left: 1.5%;
      margin-right: 1.5%;
    }
    .bounty{
        margin-bottom: 50px;
    }
     .bounty-content p{
        font-size: 1.8rem;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    .pre-sale-and-bonus-content{
        margin-left: 15%;
        margin-right: 15%;
    }
    .pre-sale-and-bonus-content p{
        font-size: 1.7rem;
    }
    .ribbon-pre-sale-bonus{
        left: calc(22%);
    }
    
     .about-content{
        font-size: 1.5rem;
        line-height: 2.1rem;
        margin: 30px 1.5%;
    }
    .ribbon-pre-sale-bonus{
        padding: 55px 35px 55px 55px;
        background-size: 150px;
        left: calc(73%);
        top: -185px;
    }
    .ribbon-pre-sale-bonus p{
        font-size: 3rem;
        font-family: londrina_solidregular;
    }
    .ribbon-pre-sale-bonus-contact{
        position: absolute;
        left: calc(14.5%);
        top: -175px;
    }
    .ribbon-pre-sale-bonus-contact p{
        font-size: 2.2rem;
    }
     .features-bot-paragraph{
        font-size: 2rem;
    }
     .features-bot-bot-paragraph{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:768px){
    .features-content-mobile .features-box p{
        font-size: 2.7rem;
    }
    .roadmap-right div:nth-child(2){
        width: 400px;
    }
     .about-content{
        font-size: 1.5rem;
        line-height: 2.1rem;
        margin: 30px 1.5%;
    }
    .ribbon-pre-sale-bonus{
        padding: 55px 35px 55px 55px;
        background-size: 150px;
        left: calc(73%);
        top: -215px;
    }
    .ribbon-pre-sale-bonus p{
        font-size: 3rem;
        font-family: londrina_solidregular;
    }
    .ribbon-pre-sale-bonus-contact{
        position: absolute;
        left: calc(15.5%);
        top: -175px;
    }
    .ribbon-pre-sale-bonus-contact p{
        font-size: 2rem;
    }
     .features-bot-paragraph{
        font-size: 1.8rem;
         line-height: 1.9rem;
    }
     .features-bot-bot-paragraph{
        font-size: 1.6rem;
         line-height: 1.7rem;
    }
    .pre-sale-and-bonus-content p{
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
}

@media only screen and (max-width:736px){
   .features-bot-paragraph{
        margin: 15px 1.5%;
        font-size: 1.9rem;
      /*  height: 200px;*/
    }
    .team-content{
        width: 100%;
    }
    .pre-sale-button-buy-token-container-mobile a{
        padding-left: 40px;
    }
    .ribbon-pre-sale-bonus{
        left: calc(19%);
    }
    .roadmap-right div:nth-child(2){
        width: 400px;
    }
    .about-content{
        font-size: 1.5rem;
        line-height: 2.1rem;
        margin: 30px 1.5%;
    }
    .ribbon-pre-sale-bonus{
        padding: 55px 35px 55px 55px;
        background-size: 150px;
        left: calc(73%);
        top: -215px;
    }
    .ribbon-pre-sale-bonus p{
        font-size: 3rem;
        font-family: londrina_solidregular;
    }
    .ribbon-pre-sale-bonus-contact{
        position: absolute;
        left: calc(17.5%);
        top: -175px;
    }
    .ribbon-pre-sale-bonus-contact p{
        font-size: 1.8rem;
    }
     .features-bot-paragraph{
        font-size: 1.8rem;
         line-height: 1.9rem;
    }
     .features-bot-bot-paragraph{
        font-size: 1.6rem;
         line-height: 1.7rem;
    }
    .pre-sale-and-bonus-content p{
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
}

@media only screen and (max-width:732px){
    .pre-sale-button-buy-token-container-mobile a{
       font-size: 2.9rem;
    }
     .ribbon-pre-sale-bonus{
        left: calc(16%);
    }
    .roadmap-right div:nth-child(2){
        width: 400px;
    }
    .about-content{
        font-size: 1.5rem;
        line-height: 2.1rem;
        margin: 30px 1.5%;
    }
    .ribbon-pre-sale-bonus{
        padding: 55px 35px 55px 55px;
        background-size: 150px;
        left: calc(73%);
        top: -215px;
    }
    .ribbon-pre-sale-bonus p{
        font-size: 3rem;
        font-family: londrina_solidregular;
    }
    .ribbon-pre-sale-bonus-contact{
        position: absolute;
        left: calc(17.5%);
        top: -175px;
    }
    .ribbon-pre-sale-bonus-contact p{
        font-size: 1.8rem;
    }
     .features-bot-paragraph{
        font-size: 1.8rem;
         line-height: 1.9rem;
    }
     .features-bot-bot-paragraph{
        font-size: 1.5rem;
         line-height: 1.6rem;
    }
    .pre-sale-and-bonus-content p{
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
}

@media only screen and (max-width:667px){
    .about-content{
        font-size: 2rem;
        margin: 30px 1.5%;
    }
    .features-bot-paragraph{
        margin: 15px 1.5% 0 1.5%;
        font-size: 1.7rem;
      /*  height: 200px;*/
    }
    .features-bot-bot-paragraph{
        margin: 0px 1.5%;
        padding-top: 25px;
        font-size: 2.2rem;
    }
    .pre-sale-button-buy-token-container-mobile a{
        font-size: 2.7rem;
    }
    .pre-sale-and-bonus-content p{
        font-size: 1.5rem;
    }
    
    .about-content{
        font-size: 1.5rem;
        line-height: 1.7rem;
        margin: 30px 1.5%;
    }
    .ribbon-pre-sale-bonus{
        padding: 55px 35px 55px 55px;
        background-size: 150px;
        left: calc(73%);
        top: -215px;
    }
    .ribbon-pre-sale-bonus p{
        font-size: 3rem;
        font-family: londrina_solidregular;
    }
    .ribbon-pre-sale-bonus-contact{
        position: absolute;
        left: calc(18.5%);
        top: -165px;
    }
    .ribbon-pre-sale-bonus-contact p{
        font-size: 1.6rem;
    }
     .features-bot-paragraph{
        font-size: 1.5rem;
         line-height: 1.6rem;
    }
     .features-bot-bot-paragraph{
        font-size: 1.5rem;
         line-height: 1.6rem;
    }
    .pre-sale-and-bonus-content p{
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
}
@media only screen and (max-width:640px){
    .about-content{
        font-size: 2rem;
        margin: 30px 1.5%;
    }
    .features-bot-paragraph{
        margin: 15px 1.5% 0 1.5%;
        font-size: 1.7rem;
      /*  height: 200px;*/
    }
    .features-bot-bot-paragraph{
        margin: 0px 1.5%;
        padding-top: 25px;
        font-size: 2.1rem;
    }
    
    .team-content{
        width: 100%;
    }
   
     .token-dist-list ul li{
        font-size: 1.4rem;
        padding: 20px 0 20px 84px;
        background-size: 45px;
    }
    .allocation-data ul li{
        font-size: 1.4rem;
        padding: 20px 0 20px 84px;
        background-size: 45px;
    }
    .about-content{
        font-size: 1.5rem;
        line-height: 1.7rem;
        margin: 30px 1.5%;
    }
    .ribbon-pre-sale-bonus{
        padding: 55px 35px 55px 55px;
        background-size: 150px;
        left: calc(73%);
        top: -215px;
    }
    .ribbon-pre-sale-bonus p{
        font-size: 3rem;
        font-family: londrina_solidregular;
    }
    .ribbon-pre-sale-bonus-contact{
        position: absolute;
        left: calc(18.5%);
        top: -165px;
    }
    .ribbon-pre-sale-bonus-contact p{
        font-size: 1.6rem;
    }
     .features-bot-paragraph{
        font-size: 1.5rem;
         line-height: 1.6rem;
    }
     .features-bot-bot-paragraph{
        font-size: 1.5rem;
         line-height: 1.6rem;
    }
    .pre-sale-and-bonus-content p{
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
}

@media only screen and (max-width: 414px){
    .button{
        padding: 0;
        margin: 0;
    }
    .banner-button{
        font-size: 3rem;
        padding: 30px 0px;
    }
    /*HEADER*/
    .hero-banner img{
        width: 300px;
    }
    .banner{
        margin: 0 1.5% 0 1.5%;
        width: calc(100% - 3%);
    }
    .hero-text p{
        font-size: 2rem;
    }
    .header-left{
        display: block;
        width: 100%;
    }
    .header-available{
        margin-top: 40px;
    }
    .header-available p{
       font-size: 1.8rem;
    }
    .header-available p:nth-child(2), .header-available p:nth-child(3){
        font-size: 1.5rem;
    }
    .header-available div{
        margin-bottom: 10px;
    }
    .header-right{
       /* width: calc(100% - 20px);   
        text-align: center;*/
    }
    header{
        height: 1600px;
    }
    .banner .sale-box .sale-text{
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .sale-time{
        padding-top: 10px;
        width: calc(25% - 15px);
        height: 100px;
        margin-left: 10px;
        
    }
    .sale-time p:first-of-type{
        font-size: 4rem;
    }
    .sale-time p:last-of-type{
       font-size: 1rem;
    }
    .banner .sale-fund-raised{
        margin-top: 150px;
    }
    .sale-fund-raised p:first-child{
        font-size: 5rem;   
    }
    .sale-fund-raised p:last-child{
        margin-top: 5px;
        font-size: 1.5rem;   
    }
    .button-token-container-2{
       display: inline-block;
       width: 80%;
    }
    .sale-bar{
        width: calc(100% - 20px);
        margin: 0 10px;
        margin-top: 10px;
        padding-bottom: 20px;
    }
    .sale-bar-text-top p:nth-child(1){
        font-size: 1rem;
        margin-left:  20px;
    }
    .sale-bar-text-bot{
        font-size: 1rem;
    }
    .button-token-container-2{
       margin-top: 20px;
       width: 105%;
    }
     header{
        height: 1400px;
    }
    /*HEADER END*/
    /*PRESALE HEADER*/
    .header-presale{
        padding-top: 0px;
    }
    .sale-box{
        width: 90%;
        margin: 0 5%;
      
    }
    .sale-bar{
        margin-top: 0px;
        padding-top: 0px;
    }
    .pre-sale-button-buy-token-container-mobile a{
        font-size: 2rem;
        padding: 20px;
    }
    .pre-sale-button-buy-token-container-mobile{
        margin-top: 50px;
    }
    header{
      /*  display: none;*/
    }
    /*PRESALE HEADER END*/
   .about-content{
        font-size: 1.4rem;
        margin: 30px 1.5%;
    }
    .about-content p{
        line-height: 1.6rem;
    }
    .about-container{
        height: 885px
    }
    /*FEATURES -------------------------------------------------*/
    .features-content-mobile{
        width: calc(100% - 20px);
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .features-box{
        width: calc(100% - 20px);
        font-size: 1rem;
    }
    .features-box:nth-child(odd){
        border: 10px solid #ff5e5e;
    }
    .features-box div{
        width: 50%;
    }
    .features-box div:last-of-type{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-flow: column;
        height: 150px;   
    }
    .features-box img{
        padding: 5px 0;
        max-width: 80%;
    }
    .features-content-mobile .features-box p {
        font-size: 2rem;
    }
    .features-bot-paragraph{
        margin: 15px 1.5%;
        font-size: 1.4rem;
      /*  height: 200px;*/
    }
    .features-bot-bot-paragraph{
        margin: 0px 1.5%;
        padding-top: 25px;
        font-size: 1.7rem;
    }
    .features-content-bot-mobile{
        display: block;
        text-align: center;
        background-color: #3e2911;
    }
    .features-box-bot-twos{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .features-box-bot{
        display: inline-block;
        width: 45%;
        font-size: 1.5rem;
    }
    .features-box-bot:last-of-type{
       font-size: 2.5rem;
    }
    .features-box-bot-below{
        width: 100%;
    }
    .features-box-bot img{
        width: 60%;
    }
    .features-box-bot-below img{
        width: 30%;
    }
    /*FEATURES END-------------------------------------------*/
    .ps-problem-content, .ps-solution-content{
        margin: 30px 1.5%;
        font-size: 1.6rem;
        line-height: 1.8rem;
        height: 300px;
    }
    .ps-solution-content{
        margin-bottom: 0;
    }
    /*TOKEN--------------------------------------------------------------------------------*/
    .token-graph{
        height: 180px;
        width: 150px;
    }
    .token-graph img{
        max-width: 150px;
        left: 0;
    }
    .token-dist-list ul{
        padding: 1.5%;
    }
    .token-dist-list ul li{
        font-size: 1.2rem;
        padding: 16px 0 16px 54px;
        background-size: 35px;
    }
    .token-container{
        height: 750px;
    }
    /*TOKEN end*/
    /*ALLOCATION----------------------------------------------------------*/
    .allocation-top{
       /* background-image: none;*/
        height: 100px;
    }
    .allocation-graph img{
        margin-top: 50px;
        max-width: 150px;
    }
    .allocation-content{
        flex-flow: column;
    }
    .allocation-data ul{
       padding: 1.5%;
    }
    .allocation-data ul li{
        font-size: 1.2rem;
        padding: 16px 0 16px 54px;
        background-size: 35px;
    }
    /*ALLOCATION end------------------------------------------------------*/
    .roadmap-left {
        padding-top: 10px;
        width: 25%;
        /*background-color: chartreuse;*/
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .roadmap-left img{
        margin-right: 20px;
    }
    .roadmap-right {
       /* background-color: aqua;*/
        width: 60%;
        text-align: left;
        transform: rotate(5deg);
        margin-top: 25px;
        display: block;
        font-size: 1.5rem;
    }
    .roadmap-right div:nth-child(1){
        width: 100%;
        border-bottom: 2px solid #ffcd6a;
        margin-bottom: 10px;
    }
    /*--*/
    .roadmap-right div:nth-child(2){
        width: 250px;
    }
    .roadmap-right div:nth-child(1) p{
        font-family: londrina_solidregular;
        font-size: 2rem;
    }
    .roadmap-right div:nth-child(2) p{
        font-size: 1.1rem;
        line-height: 1.6rem;
    }
    /*----*/
   .crypto-exchange-list img{
        max-width: 100px;
    }
    .features-box-bot:last-of-type {
        font-size: 1.5rem;
    }
    body .roadmap h3 {
        width: 80%;
        margin: 30px;
    }
    .pre-sale-and-bonus-content{
        margin: 0 1.5%;
    }
   .pre-sale-and-bonus-content p{
        font-size: 1.3rem;
    }
    .bounty{
         height: 600px;
         padding-bottom: 0;
         margin-bottom: 0;
    }
    .bounty-content p{
        font-size: 1.5rem;
         line-height: 1.6rem;
    }
    .token-sale-details-table-container{
        font-size: 1rem;
    }
     
    .roadmap-right div:nth-child(2){
        width: 300px;
    }
    .about-content{
        font-size: 1.3rem;
        line-height: 1.4rem;
        margin: 30px 1.5%;
    }
    .ribbon-pre-sale-bonus{
        padding: 35px 15px 35px 35px;
        background-size: 80px;
        left: calc(77%);
        top: -135px;
    }
    .ribbon-pre-sale-bonus p{
        font-size: 1.7rem;
    }
    .ribbon-pre-sale-bonus-contact{
        position: absolute;
        left: calc(15.5%);
        top: -115px;
    }
    .ribbon-pre-sale-bonus-contact p{
        font-size: 1.2rem;
    }
     .features-bot-paragraph{
        font-size: 1.4rem;
         line-height: 1.5rem;
    }
     .features-bot-bot-paragraph{
        font-size: 1.2rem;
         line-height: 1.3rem;
    }
    .pre-sale-and-bonus-content p{
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
    .token-sale-details h3{
        font-size: 3rem;
        padding-bottom: 10px;
    }
    .pre-sale-and-bonus-title h3{
        font-size: 2rem;   
        padding-bottom: 10px;
    }
    .token-header h3{
         font-size: 3rem;   
    }
    .allocation-container h3{
        font-size: 3rem;
    }
    .bounty h3{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 375px){
    .about-content{
        font-size: 1.3rem;
    }
    .features-bot-paragraph{
        font-size: 1.4rem;
    }
    .features-bot-bot-paragraph{
        margin: 0px 1.5%;
        padding-top: 25px;
        font-size: 1.6rem;
    }
     .features-content-mobile .features-box p {
        font-size: 1.7rem;
    }
    .pre-sale-bonus-text{
        left: -29px;
        top: -40px;
        width: 300px;
        height: 70px;
        padding: 10px 5px 0px 0px;
        font-size: 1.5rem;
    }
    .sale-time p:first-of-type{
        font-family: londrina_solidregular;
        color: #e95151;
        font-size: 3rem;
    }
    .sale-time p:last-of-type{
        font-family: comfortaabold;
        font-size: 0.8rem;
    }
    .pre-sale-and-bonus-content p{
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
    .bounty-content p{
        font-size: 1.3rem;
         line-height: 1.4rem;
    }
    /*--------------*/
    .roadmap-right div:nth-child(2){
        width: 240px;
    }
    .roadmap-right div:nth-child(2) p{
        font-size: 1rem;
    }
    .about-content{
        font-size: 1.3rem;
        line-height: 1.4rem;
        margin: 30px 1.5%;
    }
    .ribbon-pre-sale-bonus{
        padding: 35px 15px 35px 35px;
        background-size: 80px;
        left: calc(75%);
        top: -135px;
    }
    .ribbon-pre-sale-bonus p{
        font-size: 1.7rem;
    }
    .ribbon-pre-sale-bonus-contact{
        position: absolute;
        left: calc(11.5%);
        top: -115px;
    }
    .ribbon-pre-sale-bonus-contact p{
        font-size: 1.1rem;
    }
     .features-bot-paragraph{
        font-size: 1.4rem;
         line-height: 1.5rem;
    }
     .features-bot-bot-paragraph{
        font-size: 1.1rem;
         line-height: 1.2rem;
    }
    .pre-sale-and-bonus-content p{
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
    .token-sale-details h3{
        font-size: 3rem;
        padding-bottom: 10px;
    }
    .pre-sale-and-bonus-title h3{
        font-size: 2rem;   
        padding-bottom: 10px;
    }
    .token-header h3{
         font-size: 3rem;   
    }
    .allocation-container h3{
        font-size: 3rem;
    }
    .bounty h3{
        font-size: 3rem;
    }
}
