*{
    padding: 0;
    margin: 0;
}

h1 {
    color: red;
}
body {
    background-color: cadetblue;
    font-size: 32px;
}
p {
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style: none;
}
span{
    color: white;
}
section{
    /*margin: 0 10%;*/
  /*  margin-top: 2%;*/
   /* border-bottom: 5px solid #000000;*/
}

div{
   display: block;
}

.button{
   /* display: inline-block;*/
    border: 1px solid transparent;
    border: 1px solid #ffffff;
    padding: 5px;
    font-weight: 300;
    font-size: 1.2rem;
    background-color: #555555;
    color: white;
    line-height: 1.5rem;
    margin-bottom: 0;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
}